/*Start CSS Reseter*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	
	line-height: 1;
}
html, body {
    margin: 0;
    height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End CSS Reseter*/
#drag-1, #drag-2 {
	width: 200px;
	height: 100px;
	
	box-sizing: border-box;

	background-color: #29e;
	color: white;

	border-radius: 20px;
	padding: 4%;

	-webkit-transform: translate(0px, 0px);
	      transform: translate(0px, 0px);
}
.draggable:active{
	opacity: 0.7;
	border: 0.14em solid red;
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}
.des
{
	height: auto;
	background-color: rgb(40,40,40);
	color: white;
	width: auto;
	position: fixed;
	padding: 3px;
	border-radius: 8px;
	display: none;
	min-width: 80px;
    min-height: 16px;
}
.size
{
	position: absolute;
  	top: 50%;
    left: 45%;
}
.resize-drag {
  background-color: red;
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  border-radius: 8px;
  margin: 30px 20px;
  overflow: hidden;
  width: 100px;
  height: 80px;
  position: absolute;
  /* This makes things *much* easier */
  box-sizing: border-box;
}
.resize-container {
  width: 100%;
  height: auto;
}
