/*Start CSS Reseter*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
html, body {
    margin: 0;
    height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*End CSS Reseter*/
.pos{
    min-width: 80px;
    min-height: 16px;
    background-color: rgb(40,40,40);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -40px;
    margin-bottom : 1px;

    display: none;
}
.size{
	position: absolute;
    bottom: 5%;
    right: 5%;
}
.resize-drag {
  background-color: red;
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  border-radius: 8px;
  margin: 30px 20px;
  width: 100px;
  height: 80px;
  position: absolute;
  overflow: visible;
  /* This makes things *much* easier */
  box-sizing: border-box;

}
.resize-drag:active{
	opacity: 0.9;
}
.resize-container {
  width: 100%;
  height: auto;
}
