// Variable //
$Black40 : rgb(40,40,40);

.pos{
  min-width: 80px;
  min-height: 16px;
  background-color: $Black40;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  // Position the tooltip
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -40px;
  margin-bottom : 1px;
  display: none;
}
.size{
	position: absolute;
  bottom: 50%;
  right: 50%;
}
.resize-drag {
  color: white;
  font-size: 16px;
  border-radius: 4%;
  margin: 30px 20px;
  width: 100px;
  height: 80px;
  position: absolute;
  overflow: visible; 
}
.resize-drag:active,
.resize-drag:focus{
	opacity: 0.9;
}
.resize-container {
  width: 100%;
  height: auto;
}

